<div id="postDeleteDialog" uk-modal>
    <div class="uk-modal-dialog relative mx-auto bg-white rounded-lg shadow-xl w-[400px]">
        <div class="p-6">
            <h2 class="text-xl font-bold text-gray-800">Xác nhận Xóa</h2>
        </div>

        <div class="p-6 py-0">
            <p class="text-gray-600">Bạn có chắc chắn muốn xóa bài viết này không? Hành động này không thể hoàn tác.</p>
        </div>

        <div class="flex justify-end p-6 text-sm font-medium border-t mt-4">
            <input type="hidden" id="deleteConfirmationPostId" />

            <button type="button" class="px-4 py-2 rounded-lg uk-modal-close text-gray-600 hover:bg-gray-100 transition-colors mr-3">Hủy</button>

            <button type="button" id="confirmDeleteBtn" class="px-5 py-2 bg-red-600 text-white rounded-lg font-semibold hover:bg-red-700 transition-colors shadow-md">Xóa</button>
        </div>

        <button type="button" class="bg-white rounded-full p-2 absolute right-0 top-0 m-3 uk-modal-close text-gray-400 hover:text-gray-900 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>
