<div id="groupDeleteDialog" uk-modal>
    <div class="uk-modal-dialog relative mx-auto bg-white rounded-lg shadow-xl w-[400px]">
        <div class="p-6">
            <h2 class="text-xl font-semibold">Xác nhận xóa</h2>
        </div>

        <div class="p-6 py-0">
            <p>Bạn có chắc chắn muốn xóa nhóm này không?</p>
        </div>

        <div class="flex justify-end p-6 text-sm font-medium">
            <div class="flex justify-end p-6 text-sm font-medium">
                <input type="hidden" id="deleteConfirmationGroupId" />
                <button type="button" class="px-4 py-1.5 rounded-md uk-modal-close">Hủy</button>
                <button type="button" id="confirmDeleteBtn" class="px-5 py-1.5 bg-red-600 text-white rounded-md hover:bg-red-700">Xóa</button> @* Đã điều chỉnh màu để phù hợp với hành động xóa *@
            </div>

        </div>

        <button type="button" class="bg-white rounded-full p-2 absolute right-0 top-0 m-3 uk-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

    </div>
</div>