@model Models.ViewModel.Group.CreateGroupForm

<div class="uk-card uk-card-default uk-card-body uk-width-large">
    <h5 class="uk-card-title">Tạo Nhóm Mới</h5>
    <form asp-action="CreateGroup" asp-controller="Group" method="post" enctype="multipart/form-data" id="createGroupForm">
        <div asp-validation-summary="ModelOnly" class="uk-alert-danger" uk-alert></div>

        <div class="uk-margin">
            <label class="uk-form-label" asp-for="GroupName">Tên Nhóm</label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="GroupName" type="text" placeholder="Nhập tên nhóm">
            </div>
            <span asp-validation-for="GroupName" class="uk-text-danger"></span>
        </div>

        <div class="uk-margin">
            <label>
                <input class="uk-checkbox" asp-for="IsPrivate" type="checkbox">
                <span class="uk-form-label">Nhóm Riêng Tư (Chỉ thành viên được mời mới có thể tham gia)</span>
            </label>
        </div>

        <div class="uk-margin uk-text-right">
            <button type="submit" class="uk-button uk-button-primary">Tạo Nhóm</button>
        </div>
    </form>
</div>