@using Models
@using Models.ViewModel.Users
@model ForgotPasswordModel

<div class="sm:flex">
    @* Form section *@
    <div class="relative lg:w-[580px] md:w-96 w-full p-10 min-h-screen bg-white shadow-xl flex items-center pt-10 z-10">
        <div class="w-full lg:max-w-sm mx-auto space-y-10">
            <div>
                <h2 class="text-2xl font-semibold mb-1.5">Quên Mật khẩu</h2>
                <p class="text-sm text-gray-700 font-normal">Nhập địa chỉ email của bạn để nhận mã đặt lại mật khẩu (OTP).</p>
            </div>
            <form asp-controller="Authentication" asp-action="ForgotPassword" method="post" class="space-y-7 text-sm text-black font-medium">
                <div class="col-span-2 text-red-500" asp-validation-summary="ModelOnly"></div>

                <div>
                    <label asp-for="Email">Địa chỉ Email</label>
                    <div class="mt-2.5">
                        <input asp-for="Email" type="email" placeholder="Email" required="" class="!w-full" />
                        <span asp-validation-for="Email" class="text-red-500 text-xs mt-1"></span>
                    </div>
                </div>

                <div>
                    <button type="submit" class="button bg-primary text-white w-full">Gửi Mã OTP</button>
                </div>

                <div class="text-center">
                    <a asp-controller="Authentication" asp-action="Login" class="text-blue-700 hover:underline">Quay lại Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
</div>
